.detailCover {
  margin: auto;
  margin-top: 1rem;
  max-width: 50%;
  width: 100%;
  position: relative;
  text-align: center;
}

.main {
  padding-bottom: 2rem;
}

.main img {
  width: 7rem;
  display: inline;
}

.main h1 {
  padding-top: 3rem;
  font-size: 6rem;
  color: rgb(255, 255, 255);
}

.main sup {
  font-size: 2.5rem;
}

.main h4 {
  /* display: inline; */
  vertical-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  /* line-height: 3rem; */
}

.main hr {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  border-bottom: none;
  background-color: #eee;
  padding: 0.04rem;
  /* border: 0.5rem; */
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: transparent;
  padding: 10px;
  margin-bottom: 2rem;
}

.grid-item {
  background-color: transparent;
  border: none;
  padding: 4rem;
  font-size: 2rem;
  text-align: center;
  color: white;
}

.itemName {
  font-size: 2rem;
}

.itemValue {
  font-size: 2rem;
}

@media screen and (max-width: 800px) {
  .detailCover {
    max-width: 90%;
  }
}
