.background {
  position: absolute;
  background: fixed;
  /* background-image: url("../../images/mist.jpg"); */
  background-position: top;
  background-size: cover;

  width: 100%;
  height: 110rem;
  animation: fade-in ease-out 1s;
  animation-fill-mode: backwards;
  padding-bottom: 5rem;
}

.clouds {
  background-image: url("../../images/clouds.jpg");
}
.clearSky {
  background-image: url("../../images/clearsky.jpg");
}
.dark {
  background-image: url("../../images/dark.jpg");
}
.default {
  background-image: url("../../images/default.jpg");
}
.mist {
  background-image: url("../../images/mist.jpg");
}
.rain {
  background-image: url("../../images/rain.jpg");
}
.shower {
  background-image: url("../../images/shower.jpg");
}
.snow {
  background-image: url("../../images/snow.jpg");
}
.thunderstorm {
  background-image: url("../../images/thunderstorm.jpg");
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
