.background {
    background-image: url("../../images/default.jpg");
    background-position: top;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    animation: fade-in ease-out 1s;
    animation-fill-mode: backwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}