.cover {
  margin: auto;
  margin-top: 10rem;
  max-width: 50%;
  width: 100%;
  position: relative;
}

.inputForm {
  padding: 2rem;
}

.inputForm::after {
  content: "";
  display: table;
  clear: both;
}

.inputForm input {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  padding: 0.9rem;
  margin-bottom: 1rem;
  border: 0.2rem solid #5c38df;
  border-radius: 0.8rem;
  font-size: 1.9rem;
}

.inputForm input:focus {
  outline: none;
}

.inputForm button {
  background-color: transparent;
  border: none;
  border: 1px solid black;
  background-color: #724cf9;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2rem 6rem #00000034;
  float: right;
  font-size: 1.6rem;
  margin-right: 1rem;
}

.inputForm button:hover {
  background-color: #5c38df;
  border: 1px solid black;
  box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.466);
  transform: translateY(-0.2rem);
}

.inputForm button:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.342);
}

.reset {
  background-color: transparent;
  border: 1px solid #724cf9;
}

@media screen and (max-width: 800px) {
  .cover {
    max-width: 90%;
  }

  .inputForm button:hover {
    transform: translateY(0);
    background-color: #724cf9;
  }

  .inputForm button:active {
    transform: translateY(0.1rem);
  }
}
