@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap");

.heading {
  color: white;
  font-family: "Noto Serif", serif;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.defaultHeading {
  color: white;
  font-family: "Noto Serif", serif;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
}
