.button {
  background-color: transparent;
  border: none;
  border: 1px solid black;
  background-color: blueviolet;
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2rem 6rem #00000034;
}

.button:hover {
  background-color: rgb(159, 78, 235);
  border: 1px solid black;
  box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.466);
  transform: translateY(-0.3rem);
}

.button:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 2rem 8rem rgba(0, 0, 0, 0.342);
}
